.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}

.page-enter,
.page-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s ease-in-out;
}
.layout-enter,
.layout-leave-active {
  transform: translateY(-10px);
  opacity: 0;
}
